
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_SeparateLayout.cshtml";
}

<h2>Error</h2>

<h4>
    There is some internal issue, Please contact
    admin as early as possible
</h4>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
            Name: Sandeep
        </div>
        <div class="form-group">
            <address>
                Sterling Street<br />
                Virginia<br />
            </address>
        </div>
        <div class="form-group">
            <abbr title="Phone">Phone Number:</abbr>
            911
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>