
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_SeparateLayout.cshtml";
}

<h2>Success</h2>

<p>You have successfully registered! 
Please check your email for activating your account</p>

